{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            Сортировать по:
            <a href="/catalog?sort=name">названию     </a>
            <a href="/catalog?sort=min_price">начиная с дешёвых    </a>
            <a href="/catalog?sort=max_price">начиная с дорогих    </a></p>
        </div>

        <div class="content">
            {% if phones %}
                {% for phone in phones %}
                    <h2><a href="{% url 'show_product' phone.slug %}">{{ phone.name }}</a></h2>
                    <p>Стоимость: {{ phone.price }}</p>
                    <p><img src=" {{ phone.image }}"></p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}