{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            {# Здесь должен быть раздел с сортировкой #}
            Сортировать по:
            <a href="/catalog?sort=name">названию     </a>
            <a href="/catalog?sort=min_price">начиная с дешёвых    </a>
            <a href="/catalog?sort=max_price">начиная с дорогих    </a></p>

        </div>

        <div class="content">
            {% for phone in phones %}
                <a href="{% url 'show_product' phone.slug %}">{{ phone.name }}</a></p>
                Стоимость: {{ phone.price }}</p>
                <img src=" {{ phone.image }}"></p>
            {% endfor %}

        </div>
    </div>
{% endblock %}