{% extends "base.html" %}
{% load static %}

{% block title %}Телефон{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Телефон</h1>
        </div>
        <div class="content">
        {% if phone %}
             {% for product in phone %}
                Название модели: {{ product.name }}</p>
                Дата релиза : {{ product.release_date |date:"d E Y" }}</p>
                Поддержка LTE : {{ product.lte_exists }}</p>
                Стоимость: {{ product.price }}</p>
                <img src=" {{ product.image }}"></p>
            {% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock %}