{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <p><a href="{% url 'book_date' book.pub_date %}">Посмотреть книги по дате</a></p>
                <h2>{{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата выхода книги: {{ book.pub_date |date:'d F Y' }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

